.main{
    position: relative;
    zoom: 185%;
}
.absolute {
    position: absolute;
    right: 0px;
    bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
  }
.content{
    text-align: center;
}
/* .button7{
    font-family: "コーポレート・ロゴ（ラウンド）";
    position: absolute;
    top: 100%;
    left: 50%;
} */