.main {
    position: relative;
    text-align: center;
  }
    
  .absolute {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  .wrapper {
    background-color: yellow;
  }
  .container {
    display: flex;
    align-items: center;
  }
  
  .content {
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  .button7 {
    margin-top: 20px;
    height: 100px;
    width: 200px;
    font-size: 50px;
  }