<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ページ3</title>
  <!-- CSS -->
  <link href="MyMonster-3.css" rel="stylesheet">
</head>

<body>
 <div class="wrapper">
  <div class="box3">
   <div class="container">
     <div class="main">
      <img src="mymonster.visual3.png">
     </div>
   </div>
   <div class="botton3">
   <a href="http://localhost:5000/" class="btn btn-tem"><span>はじめる</span></a>
  </div>
  </div>
 </div>
</body>
</html>
