<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ページ7</title>
  <!-- CSS -->
  <link href="MyMonster-2.css" rel="stylesheet">
</head>

<body>
 <div class="wrapper">
  <div class="box7">
   <div class="container">
     <div class="main">
      //<img src="mymonster.visual7.png">
     </div>
     <div class="example2">
      <input type="radio" checked id="11" name="example3" ><label for="11">明るい</label>
      <input type="radio" id="12" name="example3"><label for="12" >おおらか</label>
      <input type="radio" id="13" name="example3"><label for="13" >協調性がある</label>
      <input type="radio" id="14" name="example3"><label for="14" >謙虚</label>
      <input type="radio" id="15" name="example3"><label for="15" >注意深い</label>
      <input type="radio" id="16" name="example3"><label for="16" >好奇心旺盛</label>
      <input type="radio" id="17" name="example3"><label for="17" >行動力がある</label>
      <input type="radio" id="18" name="example3"><label for="18" >素直</label>
      <input type="radio" id="19" name="example3"><label for="19" >正義感が強い</label>
      <input type="radio" id="20" name="example3"><label for="20" >知的</label>
      <input type="radio" id="21" name="example3"><label for="21" >几帳面</label>
      <input type="radio" id="22" name="example3"><label for="22" >自分の意見をもっている</label>
      <input type="radio" id="23" name="example3"><label for="23" >まじめ</label>
      <input type="radio" id="24" name="example3"><label for="24" >面倒味がいい</label>
      <input type="radio" id="25" name="example3"><label for="25" >やさしい</label>
      <input type="radio" id="26" name="example3"><label for="26" >おもしろい</label>
      <input type="radio" id="27" name="example3"><label for="27" >冷静</label>
      <input type="radio" id="28" name="example3"><label for="28" >礼儀正しい</label>
      <input type="radio" id="29" name="example3"><label for="29" >リーダーシップがある</label>
      <input type="radio" id="30" name="example3"><label for="30" >気配りができる</label>
      <input type="radio" id="31" name="example3"><label for="31" >聞き上手</label>
      <form method="get" action="page.html">
      <input type="hidden" name="a" value="val1">
      <input type="hidden" name="b" value="val2">
      <input type="hidden" name="c" value="val3">
      </form>
  </div>
   </div>
   
   <div class="botton7">
   <a href="/a" class="btn btn-tem"><span>つぎへ</span></a>
   <!-- <button>ページ遷移ボタン</button> -->
  </div>
  </div>
 </div>
</body>
</html>
