doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        link(href="template1.css", rel="stylesheet", type="text/css")
    body
        .wrapper
            .box1
                .container
                    .main
                        img(src="base.png")
                        each item in items
                            img(src=item, class="absolute")
                    .content
                        .content-inner
                            h1 モンスターが生まれました！
                            button.button7 つぎへ